body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../Assets/Uploads/WhatsApp Image 2024-03-15 at 9.45.25 AM.jpeg');
    background-size: 350px;
    overflow-x: hidden;
}

/* CABECALHO */
img.logo {
    width: 80px;
    height: 80px;
    left: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.cabpri {
    width: 100vw;
    display: flex;
    background-color: #A8A6E1;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.cabpri h1 {
    font-size: 60px;
    font-family: inter;
}
.cabpri h3 a {
    text-decoration: none;
    font-family: inter;
    color: #000000;
    align-self: center;
    width: 20px;
}

.acess {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
}
.acess button{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: rgb(222, 213, 255);
}
.acess button:hover{
    background: rgb(120, 102, 189);
    color: white;
}
.cabsec {
    display: flex;
    background-color: rgba(78, 67, 123, 1);
    width: 100vw;
    height: 50px;
    justify-content: space-between;
}
.cabsec a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 35px;
    font-family: inter;
    align-self: center;
    margin-left: 44px;
}
.cabsec a:hover {
    color: black;
    text-decoration: underline;
}
.bots {
    display: flex;
}

/* BARRA DE PESQUISA */
.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
}

.search input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.313rem;
    padding: 0 10px 0 15px;
    font-size: 1.125rem;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    font-family: 'Abel', sans-serif;
}

.search.active input {
    border-radius: 5px 5px 0 0;
}

.search .list {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 17.5rem;
}

#suggestions {
    font-family: inter;
    background: whitesmoke;
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 83.5%;
    cursor: default;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: 0;
}

.search.active #suggestions {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: 100;
}

.search.active #suggestions li {
    display: block;
}

#suggestions li:hover {
    background: #efefef;
}

/* Estilos apenas para visualização */
.item {
    margin-bottom: 20px;
}
/* Estilos para estrelas não avaliadas */
.star {
    font-size: 24px;
    cursor: pointer;
    color: gray;
}

/* Estilos para estrelas avaliadas */
.star.rated {
    color: yellow;
}
/* Estilos para o container */
.container {
    max-width: 90%; /* Definindo uma largura máxima para o container */
    margin: 5% auto; /* Centralizando o container verticalmente e mantendo uma margem nas laterais */
    padding: 20px;
    background-color: #EDEDED;
    text-align: center;
}

/* Estilos para links dentro do container */
.container a {
    text-decoration: none;
    color: #f35dfb;
    transition: color 0.3s;
}

.container a:hover {
    color: #b565b8;
}

/* Estilos para a informação */
.info {
    margin-bottom: 20px;
}

/* Estilos para o container 2 */
.container2 {
    max-width: 90%; /* Definindo uma largura máxima para o container 2 */
    margin: 5% auto; /* Centralizando o container verticalmente e mantendo uma margem nas laterais */
    padding: 10px;
    background-color: #deacf8;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: left;
}

/* Estilos para a cap */
.cap {
    margin-top: 25px;
    padding-left: 10%; /* Ajustando a margem esquerda */
    font-size: 20px;
    font-weight: bold;
    color: #A8A6E1;
}

/* Estilos para o parágrafo */
.container2 p {
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
}
  p {
    font-weight: bold;
    text-align: left;
    padding-left: 95px;
  }
  /* Regra de mídia para telas menores */
@media only screen and (max-width: 600px) {
    .cabpri {
        flex-direction: column; /* Alterando a direção para empilhar em telas menores */
        height: auto; /* Removendo a altura fixa */
    }
    .cabsec {
        flex-direction: column; /* Alterando a direção para empilhar em telas menores */
        height: auto; /* Removendo a altura fixa */
        align-items: center;
    }

    .bots {
        justify-content: space-evenly;
    }

    .cabpri h1 {
        font-size: 24px; /* Reduzindo o tamanho da fonte para telas menores */
    }

    .acess {
        padding: 0; /* Removendo o preenchimento para telas menores */
    }

    .acess button {
        font-size: 12px; /* Reduzindo o tamanho da fonte do botão para telas menores */
    }

    .search {
        padding: 10px; /* Ajustando o preenchimento para telas menores */
    }

    .search input {
        font-size: 12px; /* Reduzindo o tamanho da fonte do input para telas menores */
    }
}