
body {
    background-color: #A8A6E1;
    background-size: 300px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: inter;
}

.procurar {
    display: none;
}
/* CABECALHO */
img.logo {
    width: 80px;
    height: 80px;
    left: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.cabpri {
    width: 100vw;
    display: flex;
    background-color: #A8A6E1;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.cabpri h1 {
    font-size: 60px;
    font-family: inter;
}
.cabpri h3 a {
    text-decoration: none;
    margin-left: 900px;
    font-family: inter;
    color: #000000;
    align-self: center;
    width: 20px;
}

.acess {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
}
.acess button{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: rgb(222, 213, 255);
}
.acess button:hover{
    background: rgb(120, 102, 189);
    color: white;
}
.cabsec {
    display: flex;
    background-color: rgba(78, 67, 123, 1);
    width: 100vw;
    height: 50px;
    justify-content: space-between;
}
.cabsec a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 35px;
    font-family: inter;
    align-self: center;
    margin-left: 44px;
}
.cabsec a:hover {
    color: black;
    text-decoration: underline;
}
.bots {
    display: flex;
}

/* BARRA DE PESQUISA */
.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
}

.search input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.313rem;
    padding: 0 10px 0 15px;
    font-size: 1.125rem;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    font-family: 'Abel', sans-serif;
}

.search.active input {
    border-radius: 5px 5px 0 0;
}

.search .list {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 17.5rem;
}

#suggestions {
    font-family: inter;
    background: whitesmoke;
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 83.5%;
    cursor: default;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: 0;
}

.search.active #suggestions {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: 100;
}

.search.active #suggestions li {
    display: block;
}

#suggestions li:hover {
    background: #efefef;
}

.fanfic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.fanfic {
    width: 900px;
    margin: 2% 0 0 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgb(192, 192, 192);
    font-weight: bold;
}

.fanfic p {
    margin: 5px 0;
}
.fanfic a {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.fanfic a:hover {
    text-decoration: none;
    color: rgb(120, 102, 189);
}

.fanfic img {
    max-width: 100%;
    margin-bottom: 10px;
}
.container2 {
    margin: 2% 0 0 20%;
    display: flex;
    max-width: 900px;
    height: 20px;
    padding: 20px;
    border-radius: 8px;
    background: rgb(192, 192, 192);
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.tag {
    flex-direction: row;
    display: inline; /* ou display: inline; */
    margin-right: 10px;
}
.tag2 {
    flex-direction: row;
    display: inline; /* ou display: inline; */
    margin-right: 10px;
    color: #A8A6E1;
}

a {
    text-decoration: none;
    color: #A8A6E1;
}
a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.sinopse {
    margin-top: 10px; /* Adiciona margem acima da sinopse */
    margin-bottom: 10px; /* Adiciona margem abaixo da sinopse */
    max-height: calc(1.6em * 8); /* Limita a altura em 8 linhas */
    overflow: hidden; /* Esconde o texto que ultrapassa a altura máxima */
    position: relative; /* Permite posicionar o link para a fanfic */
    font-weight: normal;
}

.sinopse::after {
    content: ""; /* Cria um conteúdo pseudo-elemento para posicionar o link */
    position: absolute; /* Posiciona o link absolutamente em relação à sinopse */
    bottom: 0; /* Alinha o link na parte inferior da sinopse */
    right: 0; /* Alinha o link à direita da sinopse */
    background-color: white; /* Fundo branco para cobrir a última linha da sinopse */
    padding: 0 20px; /* Adiciona espaço ao redor do link */
}

.sinopse p {
    margin: 0; /* Remove margens padrão do parágrafo */
    padding-right: 20px; /* Adiciona espaço à direita do parágrafo para não se sobrepor ao link */
}

.btn {
    text-align: center;
}

.btn a{
    background-color: #c798ec;
    padding: 5px 30px 5px 30px;
    color: #544eff;
}