body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('../Assets/Uploads/WhatsApp Image 2024-03-15 at 9.45.25 AM.jpeg');
    background-size: 350px;
}


header a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.container{
background-color: #D9D9D9;
align-items: center;
text-align: center;
}
.container2 {
    background-color: #EDEDED;
    padding: 100px;
    margin: 140px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 h1 {
    background-color: #f2f2f2;
    margin-top: 0;
    font-size: 24px;
}

.fanfic {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.fanfic img {
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.fanfic p {
    margin: 0;
}

.fanfic a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

/* Estilização do botão */
.botao {
    background-color: #BD9F3385; /* Cor de fundo amarela */
    color: #000; /* Cor do texto (preto, para contraste) */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Arredondamento das bordas */
    cursor: pointer; /* Cursor ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

/* Estilização quando o mouse passa por cima */
.botao:hover {
    background-color: #ffdb4d; /* Cor de fundo mais clara */
}
