body {
    background-image: url('../Assets/Uploads/WhatsApp Image 2024-03-15 at 9.45.25 AM.jpeg');
    background-size: 300px;
    height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;}

.container {
    width: 1070;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
  }
  
  .container2 {
    width: 1178px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDEDED;
    padding: 40px;
    text-align: center;
  }

.pi {
    text-align: left;
    width: 600px;
    border: 1px solid #ccc; /* borda sólida com cor cinza claro */
    border-radius: 5px; /* borda arredondada */
    font-family: Arial, sans-serif; /* família da fonte */
    font-size: 13px; /* tamanho da fonte */
    line-height: 1.0; /* altura da linha */
}

#placeholder {
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: center; /* Alinha a imagem horizontalmente no centro */
    align-items: center; /* Alinha a imagem verticalmente no centro */
    width: 200px; /* Largura do contêiner */
    height: 200px; /* Altura do contêiner */
    background-color: #f0f0f0; /* Cor de fundo */
    border: 2px dashed #ccc; /* Estilo da borda */
    cursor: pointer; /* Cursor do mouse */
  }
  
  #placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #fileInput {
    display: none;
  }

  .tit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titi {
    border: 1px solid #ccc; /* borda sólida com cor cinza claro */
    border-radius: 5px; /* borda arredondada */
    font-family: Arial, sans-serif; /* família da fonte */
    font-size: 16px; /* tamanho da fonte */
    line-height: 1.0; /* altura da linha */
}

.botao {
    background-color: #A8A6E1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.botao::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(209, 209, 209, 0.2);
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background-color: #4E437B; /* Altere a cor do botão ao passar o mouse */
}

.botao:hover::after {
    width: 0;
    height: 0;
}

/* Estilo básico para o textarea */
textarea {
  width: 300px; /* largura do textarea */
  height: 150px; /* altura do textarea */
  padding: 10px; /* preenchimento interno */
  border: 1px solid #ccc; /* borda sólida com cor cinza claro */
  border-radius: 5px; /* borda arredondada */
  font-family: Arial, sans-serif; /* família da fonte */
  font-size: 13px; /* tamanho da fonte */
  line-height: 1.5; /* altura da linha */
  resize: vertical; /* permite redimensionar verticalmente */
}

/* Estilo para quando o textarea estiver focado */
textarea:focus {
  border-color: #007bff; /* altera a cor da borda quando focado */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* adiciona uma sombra sutil */
  outline: none; /* remove a borda de foco padrão */
}

/* Estilo básico para o textarea */
input {
  width: 300px; /* largura do textarea */
  height: 20px; /* altura do textarea */
  padding: 10px; /* preenchimento interno */
  border: 1px solid #ccc; /* borda sólida com cor cinza claro */
  border-radius: 5px; /* borda arredondada */
  font-family: Arial, sans-serif; /* família da fonte */
  font-size: 16px; /* tamanho da fonte */
  line-height: 1.5; /* altura da linha */
  resize: vertical; /* permite redimensionar verticalmente */
}

/* Estilo para quando o textarea estiver focado */
textarea:focus {
  border-color: #A8A6E1; /* altera a cor da borda quando focado */
  box-shadow: 0 0 5px #A8A6E1; /* adiciona uma sombra sutil */
  outline: none; /* remove a borda de foco padrão */
}

/* Estilo básico para o select */
select {
  width: 322px; /* largura do select */
  padding: 4px; /* preenchimento interno */
  border: 1px solid #ccc; /* borda sólida com cor cinza claro */
  border-radius: 5px; /* borda arredondada */
  font-family: Arial, sans-serif; /* família da fonte */
  font-size: 14px; /* tamanho da fonte */
  line-height: 1.5; /* altura da linha */
  appearance: none; /* remove estilos padrão do sistema operacional */
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%234a5568'%3E%3Cpath d='M10 12l-7-7 1.5-1.5 5.5 5.5 5.5-5.5L17 5z'/%3E%3C/svg%3E") no-repeat right 10px center; /* adiciona uma seta para indicar que é um select */
  background-size: 10px; /* tamanho da imagem de fundo */
}

/* Estilo para quando o select estiver focado */
select:focus {
  border-color: #A8A6E1; /* altera a cor da borda quando focado */
  box-shadow: 0 0 5px #A8A6E1; /* adiciona uma sombra sutil */
  outline: none; /* remove a borda de foco padrão */
}

.botao {
  background-color: #A8A6E1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.botao::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background-color: #8886b1; /* Altere a cor do botão ao passar o mouse */
}

.botao:hover::after {
  width: 0;
  height: 0;
}

.botao-voltar {
  float:left;
  background-color: #8886b1; /* Cor de fundo */
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  padding: 5px 10px; /* Espaçamento interno */
  text-align: left; /* Alinhamento de texto */
  display: inline-block; /* Exibição em bloco */
  font-size: 13px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margem */
  cursor: pointer; /* Cursor */
  border-radius: 8px; /* Raio da borda */
}
.botao-voltar:hover {
  background-color: #9e9bcc; /* Cor de fundo no hover */
}
.botao-voltar:active {
  background-color: #6e6c8e; /* Cor de fundo quando pressionado */
}
a {
  color: white;
  text-decoration: none;
}
